<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question answering html</title>
    <script src = "input.js"></script>
</head>
<body>
    <form name = "inputfields", action=".", method = "post">
        <label>Enter Url : </label>
        <input type="text", name="url">
        <br><br>

        <label>Enter Question : </label>
        <input type="text", name="question">

        <br><br>

        <input id= "btn", type="submit", action = "", value="submit">

        <h4> Question : {{question}}</h4>
        <br>
        <h4> Answer is : {{ans}}</h4>


    </form>
    
</body>
</html>